{% extends 'base.html' %}

{% block title %}Replenishments{% endblock %}

{% block content %}

<div class="container">
    <a href="{{ url_for('create_categories_page') }}" class="btn btn-primary" style="margin-right: 0.5rem;">
        <i class="icon icon-plus" style="margin-right: 0.25rem;"></i>
        Create Category
    </a>

    <a href="{{ url_for('delete_categories_page') }}" class="btn btn-primary ">
        <i class="icon icon-delete" style="margin-right: 0.25rem;"></i>
        Delete Category
    </a>
</div>

<div class="divider text-center" data-content="OR"></div>

<div class="container">
    <h3>Search Sub Categories</h3>
    <form action="{{ url_for('list_categories') }}" method="post" class="form-horizontal col-3">
        <div class="form-group">
            <label class="form-label" for="category_name">Super Category Name</label>
            <input class="form-input" type="text" id="category_name" name="category_name" placeholder="Category Name">
            <button class="btn btn-primary input-group-btn" style="margin-top: 1rem">Search</button>
        </div>
    </form>
</div>



{% endblock %}