{% extends 'base.html' %}

{% block title %}Replenishments{% endblock %}

{% block content %}

<ul class="tab tab-block">
    <li class="tab-item">
        <a id="new-simple-category-btn">Simple Category</a>
    </li>
    <li class="tab-item">
        <a id="new-super-category-btn">Super Category</a>
    </li>
    <li class="tab-item">
        <a id="add-category-to-super-category-btn">Add Sub Category to Super Category</a>
    </li>
</ul>

<div class="container" id="new-simple-category-form">
    <form action="{{ url_for('create_simple_category') }}" method="post" class="form-horizontal col-3">
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" type="text" id="name" name="name" placeholder="Name">
            <button class="btn btn-primary input-group-btn" style="margin-top: 1rem">Create</button>
        </div>
    </form>
</div>

<div class="container" id="new-super-category-form">
    <form action="{{ url_for('create_super_category') }}" method="post" class="form-horizontal col-3">
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" type="text" id="name" name="name" placeholder="Name">
            <label class="form-label" for="sub_category_name">Sub Category Name</label>
            <input class="form-input" type="text" id="sub_category_name" name="sub_category_name"
                placeholder="Sub Category Name">
            <button class="btn btn-primary input-group-btn" style="margin-top: 1rem">Create</button>
        </div>
    </form>
</div>

<div class="container" id="add-category-to-super-category-form">
    <form action="{{ url_for('create_sub_category') }}" method="post" class="form-horizontal col-3">
        <div class="form-group">
            <label class="form-label" for="sub_category_name">Sub Category Name</label>
            <input class="form-input" type="text" id="sub_category_name" name="sub_category_name"
                placeholder="Sub Category Name">
            <label class="form-label" for="super_category_name">Super Category Name</label>
            <input class="form-input" type="text" id="super_category_name" name="super_category_name"
                placeholder="Super Category Name">
            <button class="btn btn-primary input-group-btn" style="margin-top: 1rem">Create</button>
        </div>
    </form>
</div>

<script>
    var btn1 = document.getElementById("new-simple-category-btn");
    var btn2 = document.getElementById("new-super-category-btn");
    var btn3 = document.getElementById("add-category-to-super-category-btn");
    var form1 = document.getElementById("new-simple-category-form");
    var form2 = document.getElementById("new-super-category-form");
    var form3 = document.getElementById("add-category-to-super-category-form");

    var selected_btn = btn1;
    var selected_form = form1;

    form1.style.display = "block";
    form2.style.display = "none";
    form3.style.display = "none";
    selected_btn.classList.toggle("active");

    btn1.addEventListener("click", () => {
        selected_btn.classList.toggle("active");
        selected_form.style.display = 'none';
        btn1.classList.toggle("active");
        form1.style.display = 'block'
        selected_btn = btn1;
        selected_form = form1;
    });
    btn2.addEventListener("click", () => {
        selected_btn.classList.toggle("active");
        selected_form.style.display = 'none';
        btn2.classList.toggle("active");
        form2.style.display = 'block'
        selected_btn = btn2;
        selected_form = form2;
    });
    btn3.addEventListener("click", () => {
        selected_btn.classList.toggle("active");
        selected_form.style.display = 'none';
        btn3.classList.toggle("active");
        form3.style.display = 'block'
        selected_btn = btn3;
        selected_form = form3;
    });
</script>

{% endblock %}