{% extends 'base.html' %}

{% block title %}Replenishments{% endblock %}

{% block content %}

<div class="container">
    <form action="{{ url_for('create_retailer') }}" method="post" class="form-horizontal col-3">
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-input" type="text" id="name" name="name" placeholder="Name">

            <label class="form-label" for="tin">TIN</label>
            <input class="form-input" type="number" id="tin" name="tin" placeholder="TIN">

            <label class="form-label" for="category_name">Category Name</label>
            <input class="form-input" type="text" id="category_name" name="category_name" placeholder="Category Name">

            <label class="form-label" for="serial_nr">IVM Serial Number</label>
            <input class="form-input" type="text" id="serial_nr" name="serial_nr" placeholder="IVM Serial Number">

            <label class="form-label" for="manuf">Manufacturer</label>
            <input class="form-input" type="text" id="manuf" name="manuf" placeholder="Manufacturer">

            <button class="btn btn-primary input-group-btn" style="margin-top: 1rem">Create</button>

        </div>
    </form>
</div>

{% endblock %}